# Token de GitHub con permisos para leer/escribir contenido del repo
# Crear en: https://github.com/settings/tokens (permiso: Contents)
GH_TOKEN=tu_token_aqui

# Repo donde se guardan los datos (default: mathiascaba/yape-clon)
GH_REPO=mathiascaba/yopo-v1

# Ruta del archivo de datos (default: data/activacion.json)
GH_FILE_PATH=data/activacion.json

# Rama (default: main)
GH_BRANCH=main
